﻿@model IEnumerable<thingbridge.Models.InventoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Float Five columns side by side */
    .column {
        float: left;
        width:20%;
        padding: 20px 10px ;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -5px;
    }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    /* Responsive columns */
    @@media screen and (max-width:100%) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }

    /* Style the counter cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 8px;
        text-align: center;
        background-color: #ffffff;
    }
</style>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card" style="width:100%">
                <img src="~/Images/thumbnail.png" alt="Avatar" style="width:100%">
                <h4>@Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(modelItem => item.Title)</h4>
                <p> @Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => item.Description)</p>
                <h5> @Html.DisplayNameFor(model => model.BasePrice): @Html.DisplayFor(model => item.BasePrice)</h5>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </div>
    }
    <hr />
</div>

